/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}



/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}



/****** All Polls ******/

.all-polls td {
    border: 1px solid #ddd;
	cursor: pointer;
	padding: 15px !important;
	text-align: center;
}

.all-polls td a {
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%;
}



/****** New Poll ******/

.new-poll .row > div{
    margin-bottom: 30px;
}

.newpoll-form button[type="submit"] {
    margin-top: 30px;
}

.newpoll-options div {
    margin-bottom: 15px;
}



/****** Footer ******/

footer {
	margin: 20px 0 15px 0;
}



/****** Others ******/
.show {
    display: block !important;
}

.hidden {
    display: none !important;
}

[ng-cloak] {
    display: none !important;
}